<!-- <div class="footer">
  <img width=auto height="250px" src="https://gundamvietnamhome.files.wordpress.com/2019/02/footer-blog-gundam-6.png?w=1280" alt="">
  </div> -->

  <footer class="w3-center w3-black w3-padding-16">
    <p>Template by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  </footer>