<!-- <head>
	<title>Page Title</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/css-home.css">
  </head>

  <div class="header">
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div> -->


  <!DOCTYPE html>
  <html>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="/css/css-home.css">
  
  <body>
  
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="/" class="w3-bar-item w3-button"></a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="/sales" class="w3-bar-item w3-button">Statistical</a>
        <a href="/product" class="w3-bar-item w3-button">Products</a>
        <a href="#about" class="w3-bar-item w3-button">About</a>
        <a href="#contact" class="w3-bar-item w3-button">Contact</a>
      </div>
    </div>
  </div>
  
  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.0-9/83142675_2822265164498138_6791590699507646464_n.jpg?_nc_cat=100&ccb=2&_nc_sid=e3f864&_nc_ohc=zO7v9KjTwRgAX9jN8a0&_nc_ht=scontent.fsgn4-1.fna&oh=40a945ec545847b52860229c2f1860e8&oe=5FC1AB85" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"></span> <span class="w3-hide-small w3-text-light-grey"></span></h1>
    </div>
  </header>

