<!DOCTYPE html>
<html lang="en">
<!-----------------------------Header---------------------------------->
<head>
  <%- include('partials/headertest') -%>
  <title>Page Payment</title>
</head>

<!-----------------------------Body---------------------------------->
<body>
  <!-------------------------Menu------------------------------------>

    <div>
        <h1>Đã xác nhận đơn hàng</h1>
    </div>
  
    
  

  <!------------------------------------Footer----------------------------------------->
  <footer>
    <%- include('partials/footer') -%>
  </footer>


</body>
</html>