<!DOCTYPE html>
<html lang="en">
<!-----------------------------Header---------------------------------->
<head>
  <%- include('partials/header-home') -%>
  <title>Page Home</title>
</head>

<!-----------------------------Body---------------------------------->
<body>
  <!-------------------------Menu------------------------------------>
  <!-- <%- include('partials/menu') -%> -->

  <div class="row">
    <%- include('partials/row-left') -%>


  <!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Projects</h3>
  </div>
  <a href="/product">
  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">3 500 000 VND</div>
        <img src="https://product.hstatic.net/1000132959/product/screenshot_7_67340b455a6c4e10a040d7b5af33505a_master.jpg?fbclid=IwAR35laFu4aKGkMDpOp6-oGknVaoamCjnkuHFpeww4y1MLoL4tvGyrsaE9oc" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">3 900 000 VND</div>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81HLjdCDjZL._AC_SL1500_.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">2 000 000 VND</div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRS7mGPPoq8D_cg6KaCcDQGqHsPFI6p6HNsbw&usqp=CAU" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">4 500 000 VND</div>
        <img src="https://tanoshiishop.com/wp-content/uploads/2018/11/O1CN012Ex1oNu5tVR2mj8_2657638810.jpg?fbclid=IwAR00hEoB-qEaHeqWstrUgfs2v5U4mszeUaGDE5R8StNUg70uoszlK6xJf6A" alt="House" style="width:100%">
      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">500 000 VND</div>
        <img src="https://p0ct8ommu0.vcdn.com.vn/media/catalog/product/cache/95cb36d3254e0a20b33361b06e7c0ce9/magento/AVENGERS/B0434_B1669/B0434_B1669_2.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">2 000 000 VND</div>
        <img src="https://cf.shopee.vn/file/d6e68449bc9979d30c0f4c7eb9dc9ebb?fbclid=IwAR2kCUjC6NvH5iRnofnitrLZb_i3beRfZqFIPIJwCGj2EBfbhSOk3I2dr68" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">450 000 VND</div>
        <img src="https://photo-1-baomoi.zadn.vn/w1000_r1/2018_12_22_329_29092550/4343b2dbfd9814c64d89.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">1 500 000 VND</div>
        <img src="https://kenh14cdn.com/thumb_w/600/QuickNewsK14/4071215/2014/08/img_201408151528338912.jpg?fbclid=IwAR0dSPJKELXKvM5AT9ZEFfoveLeBw1aGgw4QV0ujJbvKc0-Z3AZ0HTj7NWE" alt="House" style="width:99%">
      </div>
    </div>
  </div>
</a>
  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>
      Specializes in serving high-quality educational toys and helps develop children's creativity. Products are tested according to international standards, ensuring absolute quality and safety.
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://m.hindustantimes.com/rf/image_size_444x250/HT/p2/2019/04/05/Pictures/_c7c222bc-57a4-11e9-a3e2-a2adcdfec8f1.jpg" alt="John" style="width:100%">
      <h3>Iron man</h3>
      <p class="w3-opacity"></p>
      <p>My armor has never been a hobby, or a distraction. It is a cocoon that has changed myself. You can rob my house, steal my weapons and relatives, but there's one thing you can't take away - that's me, Ironman.</p>
      
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://photo-1-baomoi.zadn.vn/w1000_r1/2019_10_23_329_32667768/3c716ad4cd9724c97d86.jpg" alt="Jane" style="width:100%">
      <h3>Thor</h3>
      <p class="w3-opacity"></p>
      <p>Im always angry</p>
      
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://i.ytimg.com/vi/MAfIvBgChjQ/maxresdefault.jpg" alt="Mike" style="width:100%">
      <h3>Hulk</h3>
      <p class="w3-opacity"></p>
      <p>I choose to face difficulties and not avoid them, because that's how heroes do</p>
      
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://marvelvietnam.com/wp-content/uploads/2020/06/ho-so-nhan-vat-phu-thuy-toi-thuong-dr-strange-1280x720.jpg" alt="Dan" style="width:100%">
      <h3>Dr Strange</h3>
      <p class="w3-opacity"></p>
      <p>We're in the Endgame now</p>
      
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="https://www.w3schools.com/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  
<!-- Image of location/map -->
<div class="w3-container">
  <img src="https://www.w3schools.com/w3images/map.jpg" class="w3-image" style="width:100%">
</div>
<!-- End page content -->
</div>


  
  

  <!------------------------------------Footer----------------------------------------->
  <footer>
    <%- include('partials/footer') -%>
  </footer>


</body>
</html>

